# VSCode FTP connection
.vscode/sftp.json

# Composer dependencies
vendor

# Environment variables
.env

# Nginx logs
logs

# SQL dumps
data/*
!data/users.sql

# Temporary data
# (currently local MariaDB dev database)
tmp
